<!DOCTYPE html>
<html>
	<head>

		<title>Home</title>
		<meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css" type="text/css">
<!--    <%= stylesheet_link_tag "style", "css/bootstrap.min" %>  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<!--    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js", "js/bootstrap.min.js" %>-->

	</head>
<body> 
<div id="wrap">  

 	<header id="head">
 		<div class="container">

  			<div id="logo">
  				<a href="#"><img src="images/logo.png"></a>
<!--          <%= image_tag ("logo.png") %> -->
  			</div>
			
			<nav class="nav">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Library</a></li>
				</ul>
			</nav>

			<div class="autorisation">
				<a href="signIn.html"><img src="images/ico_enter.png"></a>
<!--        <%= image_tag ("ico_enter.png") %> -->
				<a href="signUp.html"><img src="images/ico_reg.png"></a>
<!--        <%= image_tag ("ico_reg.png") %>  -->
			</div>
		</div>
  	</header>

    <div class="container">
      <div class="row">
      <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide cont-slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Обгортка для слайдів -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="images/slide-1.jpg" alt="slide-1">
            <div class="carousel-caption slide-item">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non felis sed orci eleifend pulvinar id vitae leo. Aliquam pellentesque, lacus in fringilla dignissim, eros erat faucibus enim...
              </p>  
            </div>
          </div>
          <div class="item">
            <img src="images/slide-1.jpg" alt="slide-2">
            <div class="carousel-caption slide-item">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non felis sed orci eleifend pulvinar id vitae leo. Aliquam pellentesque, lacus in fringilla dignissim, eros erat faucibus enim...
              </p>  
            </div>
          </div>
          <div class="item">
           <img src="images/slide-1.jpg" alt="slide-3">
            <div class="carousel-caption slide-item">
              <h3>Lorem ipsum dolor sit amet</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non felis sed orci eleifend pulvinar id vitae leo. Aliquam pellentesque, lacus in fringilla dignissim, eros erat faucibus enim...
              </p>  
            </div>
          </div>
        </div>
        <!-- Управління -->
        <a class="left carousel-control slide-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Prev</span>
        </a>
        <a class="right carousel-control slide-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
      </div>
    </div>


    <div class="container">
  	 <div class="books row">
  			<div class="book col-md-4 ">
          <a href="#">
  				<img src="images/book-1.jpg"> 
<!--          <%= image_tag "book-1.jpg" %>  -->
  				<h4>Lorem ipsum dolor sit amet</h4>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non felis sed orci eleifend pulvinar id vitae leo. Aliquam pellentesque, lacus in fringilla dignissim, eros erat faucibus enim...
  				</p>
          </a>	
  			</div>
  			<div class="book col-md-4 ">
          <a href="#">
  				<img src="images/book-2.jpg">
<!--          <%= image_tag "book-2.jpg" %> -->
  				<h4>Lorem ipsum dolor sit amet</h4>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non felis sed orci eleifend pulvinar id vitae leo. Aliquam pellentesque, lacus in fringilla dignissim, eros erat faucibus enim...
  				</p>	
          </a>
  			</div>
  			<div class="book col-md-4">
          <a href="#">
  				<img src="images/book-3.jpg">
<!--          <%= image_tag "book-3.jpg" %>   -->
  				<h4>Lorem ipsum dolor sit amet</h4>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non felis sed orci eleifend pulvinar id vitae leo. Aliquam pellentesque, lacus in fringilla dignissim, eros erat faucibus enim...
  				</p>	
          </a>
  			</div>
  		</div>
  	</div>

  	<footer id="foot">
  		<div class="container">
  			<hr>
        <div class="ico_logo">
  			<img src="images/ico_logo.png" id="ico_logo">
<!--        <%= image_tag ("ico_logo.png") %>  -->
          <p>
            LinkUp Studio<br>
            all rights reserved
          </p>
        </div>
  			<div id="social">
  				<a href="#"><img src="images/ico_tw.png" id="ico_tw"></a>
<!--          <%= image_tag ("ico_tw.png") %>  -->
  				<a href="#"><img src="images/ico_google.png" id="ico_google"></a>
<!--          <%= image_tag ("ico_google.png") %>  -->
  				<a href="#"><img src="images/ico_fb.png" id="ico_fb"></a>
<!--          <%= image_tag ("ico_fb.png") %>  -->
  			</div>
  		</div>
  	</footer>
</div> 
</body>
</html>